* {
  font-family: "Raleway", sans-serif;
}

header {
  background-image: url(../images/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 7rem;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navigation p {
  font-size: 50px;
  font-family: "Pacifico", sans-serif;
}

header .navigation ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  margin: 0rem 1rem;
}

header .navigation ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #262626;
  font-weight: bolder;
}

header .navigation ul li a:hover {
  border-top: 3px solid #ff6033;
  padding-top: 2px;
}

header .header-box {
  margin-top: 20rem;
}

header .header-box h1 {
  font-size: 60px;
  font-weight: 900;
  color: #262626;
  margin-bottom: 2rem;
}

header .header-box p {
  font-size: 17px;
  color: #262626;
  width: 400px;
  margin-bottom: 2rem;
}

header .header-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ff6033;
}

header .icon-0 {
  margin-top: 30rem;
  display: block;
  margin: 14rem auto;
  margin-bottom: 2rem;
}

main {
  width: 100%;
}

main .first-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00c4c4;
}

main .first-box div {
  margin: 0rem 6rem;
}

main .first-box div h2 {
  font-size: 90px;
  font-weight: 700;
  color: #ffffff;
}

main .first-box div p {
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  width: 500px;
  margin-bottom: 1rem;
}

main .thekond-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #70bfff;
  position: relative;
}

main .thekond-box .left-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin: 1rem;
}

main .thekond-box .left-box div p {
  font-size: 20px;
  font-weight: 700;
  color: #262626;
  width: 17rem;
  text-align: center;
  width: 300px;
}

main .thekond-box .left-box div object {
  border-left: #9d9d9d 1px solid;
  padding: 1rem;
}

main .thekond-box .right-box {
  background-image: url(../images/3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 462px;
  height: 527px;
}

main .thekond-box .right-box p {
  font-size: 90px;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  right: 200px;
  top: 270px;
}

main .third-box {
  background-color: #ffe92f;
  padding: 5rem;
}

main .third-box h2 {
  font-size: 90px;
  font-weight: 700;
  color: #262626;
  text-align: center;
  margin-bottom: 1rem;
}

main .third-box p {
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  text-align: center;
  width: 600px;
  display: block;
  margin: 0px auto;
  margin-bottom: 2rem;
}

main .third-box .big-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .third-box .big-box-1 img {
  width: 770px;
  height: 550px;
}

main .third-box .big-box-1 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3px;
  margin-left: 1%;
}

main .third-box .big-box-1 .box img {
  width: 370px;
  height: 260px;
  margin-bottom: 5%;
}

main .third-box .big-box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .third-box .big-box-2 img {
  width: 565px;
  height: 400px;
  margin: 0px 10px;
}

main .third-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
  background-color: #5585a2;
}

main .fourth-box {
  padding: 10rem 0rem 10rem 23rem;
  background-image: url(../images/9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .fourth-box h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #262626;
  margin-bottom: 1rem;
}

main .fourth-box p {
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  width: 550px;
  margin-bottom: 1rem;
}

main .fourth-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .fourth-box form .email {
  border: 1px solid #000000;
  background-color: unset;
  padding: 1% 2%;
  opacity: 0.5;
  font-size: 15px;
  color: #262626;
  width: 570px;
}

main .fourth-box form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #96b92c;
  margin-left: 2rem;
  border: unset;
}

main .fifth-box {
  padding: 5rem;
  background-color: #b07cf7;
}

main .fifth-box h2 {
  font-size: 90px;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

main .fifth-box p {
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  width: 600px;
  display: block;
  margin: 0px auto;
  margin-bottom: 2rem;
}

main .fifth-box .big-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .fifth-box .big-box div {
  position: relative;
  width: 370px;
  height: 310px;
  padding: 2rem;
  margin: 0rem 1rem;
}

main .fifth-box .big-box div .date {
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  background-color: #262626;
  border-radius: 5px;
  padding: 0% 2%;
}

main .fifth-box .big-box div .date .numb {
  font-size: 32px;
  font-weight: bolder;
  color: #ffffff;
  text-align: start;
  margin-bottom: 2px;
  padding: 0px 5px;
}

main .fifth-box .big-box div .date .month {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-align: start;
}

main .fifth-box .big-box div p {
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  bottom: 3rem;
  width: 300px;
  text-align: start;
  margin-bottom: 1rem;
}

main .fifth-box .big-box div span {
  position: absolute;
  font-size: 13px;
  font-weight: 300;
  bottom: 2rem;
  color: #ffffff;
}

main .fifth-box .big-box .box-1 {
  background-image: url(../images/10.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
}

main .fifth-box .big-box .box-2 {
  background-image: url(../images/11.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .fifth-box .big-box .box-3 {
  background-image: url(../images/12.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .fifth-box a {
  background-color: #f72b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
}

main .sixth-box {
  text-align: center;
  background-image: url("../images/13.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 0rem;
}

main .sixth-box h2 {
  font-size: 90px;
  font-weight: bold;
  color: #262626;
}

main .sixth-box p {
  font-size: 17px;
  line-height: 25px;
  color: #262626;
  width: 350px;
  display: block;
  margin: 2rem auto;
}

main .sixth-box .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
  margin-right: 10rem;
}

main .sixth-box .contact-form {
  margin-right: 10rem;
}

main .sixth-box .contact-form input {
  width: 500px;
  font-size: 15px;
  color: #ffffff;
  background-color: #00c4c4;
  border: none;
  padding: 2%;
  margin: 2% 0%;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .sixth-box .contact-form input:focus {
  opacity: 1;
  outline: none;
  border-left: 5px solid #355b82;
}

main .sixth-box .contact-form textarea {
  width: 500px;
  font-size: 15px;
  color: #ffffff;
  background-color: #00c4c4;
  border: none;
  padding: 2%;
  margin: 2% 0%;
  opacity: 0.5;
}

main .sixth-box .contact-form textarea:focus {
  opacity: 1;
  outline: none;
  border-left: 5px solid #355b82;
}

main .sixth-box .contact-adress h3 {
  font-size: 17px;
  font-weight: bold;
}

main .sixth-box .contact-adress p {
  font-size: 20px;
  margin-top: 0px;
}

footer {
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

footer p {
  font-size: 16px;
  color: #b9b9b9;
}

footer p span {
  font-weight: 700;
  color: #ff2b58;
}

footer h2 {
  font-family: "Pacifico", sans-serif;
  font-size: 25px;
  color: #b9b9b9;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */