* {
  font-family: "Raleway", sans-serif;
}

header {
  background-image: url(../images/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 6rem;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navigation p {
  font-size: 50px;
  font-family: "Pacifico", sans-serif;
}

header .navigation div li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  margin: 0rem 1rem;
}

header .navigation div li a {
  text-decoration: none;
  font-size: 16px;
  color: #262626;
  font-weight: bolder;
}

header .navigation div li a:hover {
  border-top: 3px solid #ff6033;
  padding-top: 2px;
}

header .header-box {
  margin-top: 20rem;
}

header .header-box h1 {
  font-size: 60px;
  color: #262626;
  margin-bottom: 2rem;
}

header .header-box p {
  font-size: 17px;
  color: #262626;
  max-width: 400px;
  margin-bottom: 2rem;
}

header .header-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ff6033;
}

header .icon-0 {
  margin-top: 30rem;
  display: block;
  margin: 14rem auto;
  margin-bottom: 2rem;
}

main {
  width: 100%;
}

main .first-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00c4c4;
}

main .first-box div {
  margin: 0rem 6rem;
}

main .first-box div h2 {
  font-size: 90px;
  color: #ffffff;
}

main .first-box div p {
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  max-width: 500px;
  margin-bottom: 1rem;
}

main .first-box--img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 !important;
}

main .thekond-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #70bfff;
  position: relative;
}

main .thekond-box .left-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin: 1rem;
}

main .thekond-box .left-box div p {
  font-size: 20px;
  font-weight: 700;
  color: #262626;
  text-align: center;
  width: 300px;
}

main .thekond-box .left-box div object {
  border-left: #9d9d9d 1px solid;
  padding: 1rem;
}

main .thekond-box .right-box {
  background-image: url(../images/3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 462px;
  height: 527px;
  position: relative;
}

main .thekond-box .right-box p {
  font-size: 90px;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 13rem;
}

main .third-box {
  background-color: #ffe92f;
  padding: 5rem;
}

main .third-box h2 {
  font-size: 90px;
  color: #262626;
  text-align: center;
  margin-bottom: 1rem;
}

main .third-box p {
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  text-align: center;
  max-width: 600px;
  display: block;
  margin: 0rem auto 2rem auto;
}

main .third-box .big-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .third-box .big-box-1 img {
  -o-object-fit: cover;
     object-fit: cover;
}

main .third-box .big-box-1 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3px;
  margin-left: 1%;
}

main .third-box .big-box-1 .box img {
  margin-bottom: 5%;
}

main .third-box .big-box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .third-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
  background-color: #5585a2;
}

main .fourth-box {
  padding: 10rem 0rem 10rem 14rem;
  background-image: url(../images/9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .fourth-box h2 {
  font-size: 40px;
  color: #262626;
  margin-bottom: 1rem;
}

main .fourth-box p {
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  max-width: 550px;
  margin-bottom: 1rem;
}

main .fourth-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .fourth-box form .email {
  border: 1px solid #000000;
  background-color: unset;
  padding: 1% 2%;
  opacity: 0.5;
  font-size: 15px;
  color: #262626;
  width: 570px;
}

main .fourth-box form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #96b92c;
  margin-left: 2rem;
  border: unset;
}

main .fifth-box {
  padding: 5rem;
  background-color: #b07cf7;
}

main .fifth-box h2 {
  font-size: 90px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

main .fifth-box p {
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  max-width: 600px;
  display: block;
  margin: 0px auto;
  margin-bottom: 2rem;
}

main .fifth-box .big-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .fifth-box .big-box div {
  position: relative;
  width: 370px;
  height: 310px;
  padding: 2rem;
  margin: 0rem 1rem;
}

main .fifth-box .big-box div .date {
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  background-color: #262626;
  border-radius: 5px;
  padding: 0% 2%;
}

main .fifth-box .big-box div .date .numb {
  font-size: 32px;
  font-weight: bolder;
  color: #ffffff;
  text-align: start;
  margin-bottom: 2px;
  padding: 0px 5px;
}

main .fifth-box .big-box div .date .month {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-align: start;
}

main .fifth-box .big-box div p {
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  bottom: 3rem;
  max-width: 300px;
  text-align: start;
  margin-bottom: 1rem;
}

main .fifth-box .big-box div span {
  position: absolute;
  font-size: 13px;
  font-weight: 300;
  bottom: 2rem;
  color: #ffffff;
}

main .fifth-box .big-box .box-1 {
  background-image: url(../images/10.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
}

main .fifth-box .big-box .box-2 {
  background-image: url(../images/11.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .fifth-box .big-box .box-3 {
  background-image: url(../images/12.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .fifth-box a {
  background-color: #f72b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
}

main .sixth-box {
  text-align: center;
  background-image: url("../images/13.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 0rem;
}

main .sixth-box h2 {
  font-size: 90px;
  color: #262626;
}

main .sixth-box p {
  font-size: 17px;
  line-height: 25px;
  color: #262626;
  max-width: 350px;
  display: block;
  margin: 2rem auto;
}

main .sixth-box .contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10rem;
}

main .sixth-box .contact-form {
  margin-right: 10rem;
}

main .sixth-box .contact-form input {
  width: 500px;
  font-size: 15px;
  color: #ffffff;
  background-color: #00c4c4;
  border: none;
  padding: 2%;
  margin: 2% 0%;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .sixth-box .contact-form input:focus {
  opacity: 1;
  outline: none;
  border-left: 5px solid #355b82;
}

main .sixth-box .contact-form textarea {
  width: 500px;
  font-size: 15px;
  color: #ffffff;
  background-color: #00c4c4;
  border: none;
  padding: 2%;
  margin: 2% 0%;
  opacity: 0.5;
}

main .sixth-box .contact-form textarea:focus {
  opacity: 1;
  outline: none;
  border-left: 5px solid #355b82;
}

main .sixth-box .contact-adress h3 {
  font-size: 17px;
}

main .sixth-box .contact-adress p {
  font-size: 20px;
  margin-top: 0px;
}

footer {
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

footer p {
  font-size: 16px;
  color: #b9b9b9;
}

footer p span {
  font-weight: 700;
  color: #ff2b58;
}

footer h2 {
  font-family: "Pacifico", sans-serif;
  font-size: 25px;
  color: #b9b9b9;
  font-weight: 300;
}

@media (max-width: 479px) {
  header {
    padding: 2rem;
  }
  main section {
    padding: 2rem !important;
  }
  main section h2 {
    font-size: 35px !important;
  }
  main section .right-box p {
    font-size: 60px !important;
  }
  main .thekond-box .left-box {
    width: 100%;
  }
  main .third-box {
    width: 100%;
  }
  main .third-box .big-box-1 img {
    width: 100%;
  }
  main .third-box .box {
    width: 100%;
  }
  main .third-box .box img {
    width: 100%;
  }
  main .third-box .big-box-2 img {
    width: 100%;
  }
  main .first-box div {
    margin: 0rem 2rem;
  }
  main .fourth-box {
    padding: 2rem !important;
  }
  main .fourth-box form .button {
    margin: 1rem auto;
  }
  main .sixth-box .contact-form {
    margin: 1rem !important;
  }
  main .sixth-box .contact-form input {
    width: 100%;
  }
  main .sixth-box .contact-form textarea {
    width: 100%;
  }
  footer p {
    text-align: center;
    margin: 1rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  main .fourth-box {
    padding: 2rem !important;
  }
  main .fourth-box form .button {
    margin: 1rem auto;
  }
  main .third-box {
    width: 100%;
  }
  main .third-box .big-box-1 img {
    width: 100%;
  }
  main .third-box .box {
    width: 100%;
  }
  main .third-box .box img {
    width: 100%;
  }
  main .third-box .big-box-2 img {
    width: 100%;
  }
  main .sixth-box .contact-form {
    margin: 0;
  }
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  display: none;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #222222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

@media (max-width: 767px) {
  main .first-box--img {
    width: 100%;
  }
  main .first-box--img img {
    width: 100%;
  }
  body.lock {
    overflow: hidden;
  }
  .menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    top: 6rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    background-color: #7b8080;
    padding: 15px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    overflow: auto;
  }
  .menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu.active nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .menu.active nav li {
    display: block;
    margin: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1337px) {
  main .third-box {
    width: 100%;
  }
  main .third-box .big-box-1 img {
    width: 70%;
  }
  main .third-box .box {
    width: 100%;
  }
  main .third-box .box img {
    width: 70%;
  }
  main .third-box .big-box-2 img {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */